<div class="sec1" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex="31">
        <div class="sec2">
            <h1><b> Welcome</b></h1>
            <h4>with supported text below as a natural lead-in to additional content</h4>
            <button class="btn btn-primary sec3" (click)="allTransactions()">See transactions</button>
        </div>
        <div class="sec4">You have <b>{{ sum }}</b> transactions</div>
    </div>
    <div fxFlex="69"  fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxFlex="50" fxLayoutGap="10px">
            <div fxFlex="50" fxLayoutGap="10px" class="sec5">
                <h1><b>{{ types[0].count }}</b></h1>
                <div>
                    {{ types[0].name | titlecase }}
                </div>
                <div>
                    <button class="btn btn-primary sec6" (click)="fetchRowData(types[0].id)">See all</button>
                </div>
            </div>
            <div fxFlex="50" class="sec5" fxLayoutGap="10px">
                <h1><b>{{ types[1].count }}</b></h1>
                <div>
                    {{ types[1].name | titlecase }}
                </div>
                <div>
                    <button class="btn btn-primary sec6" (click)="fetchRowData(types[1].id)">See all</button>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxFlex="50" fxLayoutGap="10px">
            <div fxFlex="50" fxLayoutGap="10px" class="sec5">
                <h1><b>{{ types[2].count }}</b></h1>
                <div>
                    {{ types[2].name | titlecase }}
                </div>
                <div>
                    <button class="btn btn-primary sec6" (click)="fetchRowData(types[2].id)">See all</button>
                </div>
            </div>
            <div fxFlex="50" class="sec5" fxLayoutGap="10px">
                <h1><b>{{ types[3].count }}</b></h1>
                <div>
                    {{ types[3].name | titlecase }}
                </div>
                <div>
                    <button class="btn btn-primary sec6" (click)="fetchRowData(types[3].id)">See all</button>
                </div>
            </div>
        </div>
    </div>
</div>