.sec1 {
    height:580px;
    width: 580px;
    margin: auto;
  }
  
.sec2 {
    text-align:center;
    border: 1px solid;
}
.sec3 {
    margin-bottom: 15px;
}

.sec4 {
    text-align:center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.sec5 {
    padding: 15px 0 0 15px;
    border: 1px solid;
}

.sec6 {
    margin: 40px 0 0 80px;
    border: 1px solid;
    padding-left: 60px;
    padding-right: 60px;
}

div {
    border-radius: 5px;
}